<hr>

<div class="d-flex">
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class=" carousel-inner">
                        <div class="carousel-item active text-center ">
                            <img src="https://i.postimg.cc/j5PdjSCC/2019031113-flats-for-sale-duplex-banner-jpg-840.jpg"
                                style="height: 600px;" class="d-block p-5 responsive " alt="...">
                        </div>
                        <div class="carousel-item text-center">
                            <img src="https://i.postimg.cc/NjrH47Kj/living-room.jpg" style="height: 600px;"
                                class="d-block p-5 sofa bounce-in-right bounce2" alt="...">
                        </div>
                        <div class="carousel-item text-center">
                            <img src="https://i.postimg.cc/sX3GskwM/master-bed-room-interiors-design-1200x800.jpg"
                                style="height: 600px;" class="d-block p-5 sofa  bounce-in-right" alt="...">
                        </div>
                    </div>
                    <h3>LOOKING FOR A TENANT?</h3>
                    <hr>
                    <p> Get verified tenant leads through any one of our assisted plans.
                        Top Slot Listing for 5x more visibility.
                        Relationship Manager for super fast closure.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>
<hr>
<section class="p-3">
    <div class="outer-wrapper">
        <div class="inner-wrapper">
            <div class="pseudo-item"><img style="height: 150px; width: 150px;" src="https://i.postimg.cc/tR5tZ560/0.webp" alt=""></div>
            <div class="pseudo-item"><img style="height: 150px; width: 150px;" src="https://i.postimg.cc/y8wF4pMR/bedroom-interior-designers-pune6-1200x800.jpg" alt=""></div>
            <div class="pseudo-item"><img style="height: 150px; width: 150px;" src="https://i.postimg.cc/Y9xgFrhN/de4d1ee5345e758b6f7ceacbee0fdb3e.jpg" alt=""></div>
            <div class="pseudo-item"><img style="height: 150px; width: 150px;" src="https://i.postimg.cc/t41hcGMy/dvmw7dl7vcqhowpe0g55.webp" alt=""></div>
            <div class="pseudo-item"><img style="height: 150px; width: 150px;" src="https://i.postimg.cc/0ND78dvB/f53f01e38f630af0928291bfcaca53c1.jpg" alt=""></div>
            <div class="pseudo-item"><img style="height: 150px; width: 150px;" src="https://i.postimg.cc/zXvWL15W/ikea-rustomjee-mumbai-flats-main.jpg" alt=""></div>
            <div class="pseudo-item"><img style="height: 150px; width: 150px;" src="https://i.postimg.cc/qMDsQvQj/images.jpg" alt=""></div>
            <div class="pseudo-item"><img style="height: 150px; width: 150px;" src="https://i.postimg.cc/NFfX73H3/Jodi-Flats-4.jpg" alt=""></div>
            <div class="pseudo-item"><img style="height: 150px; width: 150px;" src="https://i.postimg.cc/N0qrP9X7/luxury-flats-in-lucknow.jpg" alt=""></div>
        </div>
    </div>
    <div class="pseduo-track"></div>
</section>
<hr>